<!DOCTYPE html>
<head>
  <title>my home page</title>
  <link href="/styles/design.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h3>This is the page</h3>
  <div id="item-box-form">
    <form class="addingform" action="index.html" method="post">
      <input type="text" name="itm" placeholder="Add item here..." />
      <input type="submit" value="Add" />
    </form>
  </div>
  <div id="allItems">
    <h4>All items</h4>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</body>
</html>
